{% load static %}

<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">Logo</a>

        <div class="nav-left">
            <a href="#" class="logo">BookStore</a>
            <a href="#">Categories</a>
        </div>

        <div class="nav-center">
            <div class="search__form">
                <form id="searchForm" method="GET" action="/search">
                    <input type="text" class="search__input" id="searchInput" placeholder="Search..." name="query">
                    <button type="submit" class="search__button">
                        <i class="ri-search-line search__icon"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="nav-right">
            <a href="/login" class="login_button">
                <i class="ri-user-line"></i>
                Login
            </a>
            <a href="/cart" class="cart_button">
                <i class="ri-shopping-cart-line"></i>
                Cart
            </a>
        </div>
    </nav>
</header>
