/* Login Page Container */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

/* Title */
.login-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

/* Form */
.login-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-form label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-form input:focus {
    outline: none;
    border-color: #4f9ede;
    box-shadow: 0 0 3px #4f9ede;
}

/* Options: Remember Me & Forgot Password */
.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #777;
}

.form-options a {
    text-decoration: none;
    color: #4f9ede;
}

.form-options a:hover {
    text-decoration: underline;
}

/* Login Button */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4f9ede;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2a72c0;
}

/* Signup Link */
.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.signup-text a {
    color: #4f9ede;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
